* {
  background-color: beige;
}
.app {
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  background-color: deepskyblue;
}

.header_logo {
  width: 100px;
}

.header_ul {
  display: flex;
  font-size: 20px;
  padding: 0px 20px;
  list-style-type: none;
  background-color: aquamarine;
}

.header_ul > li {
  margin: 10px;
  padding: 10px;
  background-color: deepskyblue;
}

.login-btn {
  margin: 10px;
  padding: 10px;
  background-color: goldenrod;
}

.input_bar {
  margin: 10px 0px;
  width: 20%;
  background-color: darkgrey;
}

.search_btn {
  margin-left: 3px;
}

.rest_card {
  margin: 6px;
  width: 150px;
  padding: 10px;
  border: 1px dotted lightcoral;
  background-color: ivory;
}

.rest_card:hover {
  cursor: pointer;
  border: 1px solid brown;
}
